{% load static %}

    <div class="container-fluid bg-light p-4 mb-4"> 
        {{ object.MessageHeaders }}

        <table class="table table-hover" id="messageTable">
            <thead>
                <tr>
                <th>Timestamp</th>
                <th>Level</th>
                <th>Other</th>
                <th>Info</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                {% for msg in object.Messages %}
                <tr>
                    <td>{{ msg.snakemake_timestamp|date:"G:i:s" }}</td>
                    <td>{{ msg.message.level }}</td>
                    <th>Job</th>
                    <td style ="word-break:break-all;">{{ msg.message.job }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <th>Status</th>
                    <td style ="word-break:break-all;">{{ msg.message.status }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <th>Message</th>
                    <td style ="word-break:break-all;">{% if msg.message.exception %}{{ msg.message.exception }} {% endif %}{{ msg.message.msg }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <th>File</th>
                    <td style ="word-break:break-all;">{{ msg.message.file }}</td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% block javascript %}
<script id="socket_script" run_id="{{ object.id }}" type="text/javascript" src="{% static 'workflow/js/websocket_run_messages.js' %}"></script>
{% endblock javascript %}