{% extends "workflow/project_base.html" %}
{% block title %}Run {{ object.id }} of {{ object.workflow.name}}{% endblock title %}
{% load static %}

{% block content %}
  <div class="container-fluid bg-light p-4 mb-4">
    <h1 >Run {{ object.id }}</h1>
    <p class="lead text-muted">in {{ object.workflow.name}}</p> 
    <a href="#" class="btn btn-outline-primary">Restart</a>
    <a href="#" class="btn btn-outline-warning">Cancel</a>
    <a href="{% url 'workflow:run-delete' object.id %}" class="btn btn-outline-danger">Delete</a>
    <a href="{% url 'workflow:runs'%}" class="btn btn-outline-secondary">Back</a>
  </div>

  <div class="container-fluid bg-light p-4 mb-4">
    <h2>Information</h2>
    <table class="table">
        <tr>
          <th scope="row">Progress</th>
          <td id="run_progress_cell">0%</td>
        </tr>
        <tr>
          <th scope="row">Status</th>
          <td  id="run_status_cell">{{ object.Status }}</td>
        </tr>
        <tr>
          <th scope="row">Started by</th>
          <td>
              {{ object.created_by.get_username }}
          </td>
        </tr>
        <tr>
          <th scope="row">Date Created</th>
          <td>{{ object.date_created }}</td>
        </tr>
        <tr>
          <th scope="row">Target</th>
          <td>{{ object.target }}</td>
        </tr>
        <tr>
          <th scope="row">Cores</th>
          <td>{{ object.cores }}</td>
        </tr>
        <tr>
          <th scope="row">Is Private</th>
          <td>{{ object.run_is_private }}</td>
        </tr>
        </tr>
        </tr>
        <tr>
          <th scope="row">Sample Sheet</th>
          <td>{{ object.sample_sheet }}</td>
        </tr>
        </tr>
        <tr>
          <th scope="row">Input Files</th>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>


  <!-- messages -->
  {% include 'workflow/message_detail.html' %}

{% endblock content %}

{% block javascript %}
<script id="websocket_run_progress" run_id="{{ object.id }}" type="text/javascript" src="{% static 'workflow/js/websocket_run_progress.js' %}"></script>
<script id="websocket_run_status" run_id="{{ object.id }}" type="text/javascript" src="{% static 'workflow/js/websocket_run_status.js' %}"></script>
{% endblock javascript %}