{% extends "workflow/base.html" %}
{% block title %}{{ object.name }}{% endblock title %}
{% block nav_item_workflow %}active{% endblock nav_item_workflow %}
{% load crispy_forms_tags %}
{% block content %}

  <h1 class="fw-light">Update workflow "{{ object.name }}"</h1>
  <p class="lead text-muted">{{ object.workflow_template.description }}</p> 
  
  <form method="post">{% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-outline-success">Update workflow</button>
    <a href="{% url 'workflow:workflows' %}" class="btn btn-outline-danger my-2">Cancel</a>
  </form>

{% endblock content %}