{% extends "workflow/project_base.html" %}
{% block title %}Create a new template{% endblock title %}
{% block nav_item_templates %}active{% endblock nav_item_templates %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="container-fluid bg-light p-4 mb-4">
    <h1>Update workflow template setting</h1>
  </div>

  <div class="container-fluid bg-light p-4 mb-4">
    <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy }}
    </fieldset>
  </div>

  <div class="container-fluid bg-light p-4 mb-4">
      <fieldset class="form-group">
        <button type="submit" class="btn btn-outline-success">Upate</button>
        <a href="{% url 'workflow:templates' %}" class="btn btn-outline-danger">Cancel</a>
        
      </fieldset>
    </form>
</div>

{% endblock %}