{% extends "workflow/project_base.html" %}
{% block title %}Create a new template{% endblock title %}
{% block nav_item_templates %}active{% endblock nav_item_templates %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="container-fluid bg-light p-4 mb-4">
    <h1>Create a new workflow template</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
  </div>
    
  <div class="container-fluid bg-light p-4 mb-4">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        {{ form|crispy }}
      </fieldset>
  </div>
  
  <div class="container-fluid bg-light p-4 mb-4">
    <fieldset class="form-group">
      <button type="submit" class="btn btn-outline-success">Create new workflow</button>
      <a href="{% url 'workflow:dashboard' %}" class="btn btn-outline-danger">Cancel</a>
    </fieldset>
    </form>
  </div>

{% endblock %}