{% extends "workflow/project_base.html" %}
{% block title %}{{ object.name }}{% endblock title %}
{% block nav_item_workflow %}active{% endblock nav_item_workflow %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="container-fluid bg-light p-4 mb-4">
    <h1>Update workflow "{{ object.workflow.name }}" settings</h1>
    <p class="lead text-muted">{{ object.workflow_template.description }}</p>
  </div>
  
  <div class="container-fluid bg-light p-4 mb-4">
    <form method="post">{% csrf_token %}
      {{ form|crispy }}
  </div>
    
  <div class="container-fluid bg-light p-4 mb-4">
    <button type="submit" class="btn btn-outline-success">Update paths</button>
      <a href="{% url 'workflow:workflows' %}" class="btn btn-outline-danger">Cancel</a>
    </form>
  </div>  

{% endblock content %}