{% extends "workflow/base.html" %}
{% block title %}Login{% endblock title %}
{% block nav_item_login %}active{% endblock nav_item_login %}
{% block content %}      
{% load crispy_forms_tags %}


<!--Login--> 
<div class="container py-5">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="{% url 'user:register' %}">Create an account</a>.</p>
</div>

{% endblock %}