{% extends "workflow/project_base.html" %}
{% block title %}Profile{% endblock title %}
{% block nav_item_profile %}active{% endblock nav_item_profile %}
{% block content %}      
{% load crispy_forms_tags %}

<div class="container-fluid bg-light p-4 mb-4">
    <p class= "pb-4">
      <img style="float:left" class="rounded-circle col-md-2 account-img" src="{{ user.profile.image.url }}"/>
      <h1 class="content-heading">{{ user.username }}</h1>
      {{ user.email }}
      <p  class="small text-muted pt-4">
        <a class="text-muted" href="{% url 'user:avatar' %}">
          Not happy with your avatar? 
          Create a new one!</a>
      </p>
    </p>

    <p style="clear:both" class ="pt-5">
    
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ u_form|crispy }}                    
    {{ p_form|crispy }}  
    <p class ="pt-2"></p>            
    <button class="btn btn-outline-primary" type="submit">Update Profile</button>
    </form>
    </p>
</div>

{% endblock content %}  s