{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'workflow:index'%}">
        <img src="{% static 'base/img/snakemake-logo.png' %}" alt="" width="24" height="24" class="d-inline-block align-text-top">
        Snakesite
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link {% block nav_item_home %}{% endblock nav_item_home %}"href="{% url 'workflow:index'%}"">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block nav_item_dashboard %}{% endblock nav_item_dashboard %}"href="{% url 'workflow:dashboard'%}"">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block nav_item_templates %}{% endblock nav_item_templates %}" href="{% url 'workflow:templates'%}"">Templates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block nav_item_workflow %}{% endblock nav_item_workflow %}" href="{% url 'workflow:workflows'%}">Workflows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block nav_item_runs %}{% endblock nav_item_runs %}" href="{% url 'workflow:runs' %}">Runs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block nav_item_results %}{% endblock nav_item_results %}" href="{% url 'workflow:results' %}">Results</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block nav_item_about %}{% endblock nav_item_about %}" href="#" aria-disabled="true">About</a>
          </li>
        </ul>

        <!-- right navbar -->
        <ul class="navbar-nav me-right mb-2 mb-md-0">

          {% if user.is_authenticated %}

          <li class="nav-item dropdown me-2">
            <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{ user.profile.image.url }}" alt="{{ user.username }}" width="24" height="24" class="rounded-circle">
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small" aria-labelledby="navbarDropdown">
              <li class="dropdown-item-text">Signed in as</li>
              <li class="dropdown-item-text"><strong>{{user.username}}</strong></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Your templates</a></li>
              <li><a class="dropdown-item" href="#">Your workflows</a></li>
              <li><a class="dropdown-item" href="#">Your runs</a></li>
              <li><a class="dropdown-item" href="#">Your results</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="{% url 'user:profile' %}">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'user:logout' %}">Sign out</a></li>
            </ul>
          </li>
          
          {% else %}
          
          <li class="nav-item">
            <a class="nav-link {% block nav_item_login %}{% endblock nav_item_login %}" href="{% url 'user:login' %}" aria-disabled="true">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block nav_item_register %}{% endblock nav_item_register %}" href="{% url 'user:register' %}" aria-disabled="true">Register</a>
          </li>
          {% endif %}

        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>